# macOS / Windows
.DS_Store
Thumbs.db
Desktop.ini

# Gradle
.gradle/
build/

# IDE
.idea/
.idea_modules/
out/
.vscode/
*.iml

# Java crash logs
hs_err_pid*

# Local test server / runtime files
run/
logs/
cache/
crash-reports/
plugins/
world/
world_nether/
world_the_end/
eula.txt
server.properties
ops.json
whitelist.json
banned-ips.json
banned-players.json
usercache.json
